<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../scripts/script.js"></script>

</head>

<body>
    <div class="header">
        <span class="text">This is GAME</span>
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="content__buttons">
                <button id="1" class="content__button" onclick="isClicked()">Button1</button>
                <button id="2" class="content__button" onclick="isClicked()">Button2</button>
                <button id="3" class="content__button" onclick="isClicked()">Button3</button>
                <button id="4" class="content__button" onclick="isClicked()">Button4</button>
            </div>
        </div>
        <div class="content__start">
            <button class="content__start_button" onclick="changeVisible()">START</button>
        </div>
        <div class="content__lifes">ТУТ БУДУТ ЖИЗНИ</div>
    </div>
</body>

</html>